spring:
  datasource:
    url: jdbc:mysql://localhost:3306/bookstore?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: aditya@mysql

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  sql:
    init:
      mode: always
      data-locations: classpath:data.sql
      continue-on-error: true

# OPTIONAL: override server port if you want to run both H2 and MySQL concurrently on same host
# server:
#   port: 8080
